body {
    background-color: black;
    font-family: "Jersey 10", sans-serif;
    /*font-size:40px;*/
}

h3 {
    color: aquamarine;
    font-size: 30px;
}

h1 {
    color: white;
    font-size: 100px;
}

p {
    color: white;
}

button{
    color:aquamarine;
    background-color:black;
    border-color:aquamarine;
}

div{
    margin: 50px;
}

/*.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;*/
}

img{
    resize:both;
}

